
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>Harika bir doğum günü partisi olacak!</h2>
    <h3>Sen de Davetlisin!</h3>
    @Html.ActionLink("Geliyor Musun ?","DavetiyeFormu",null,new { @class="btn btn-warning"})
    <hr />
    @Html.ActionLink("Tüm Liste","TumListe",null, new { @class="btn btn-success"})
</div>